{% extends "base.html" %}

{% block title %}
<title>CIOCEL | Import</title>
{% endblock %}

{% block content %}
<h2>Import</h2>
<p>Select and import an Object-Centric Eventlog from your local storage</p>

<form action="" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        <input id="file" type="file" name="upload_log" class="form-control" multiple/>
        <button type="submit" class="btn btn-primary">Import Log</button>
    </div>
    <label class="form-label"><p class="text-{{ upload_response_label.0 }}">{{ upload_response_label.1 }}</p></label>
</form>

<form action="" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <select name="delete_log" class="form-select" size="10" multiple> 
            {% for file in file_list %}
            <option value="{{ file }} ">{{ file }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i></button>
    </div>
    <label class="form-label"><p class="text-{{ delete_response_label.0 }}">{{ delete_response_label.1 }}</p></label>
</form>

<a class="btn btn-primary" href="/draw" role="button">Clustering DFG page</a>

{% endblock %}
