{% extends "base.html" %}

<html>
<head>
    <title>Clustering in Object Centric Event Logs</title>
</head>

<body>

<h1>This is the Base Template</h1>

{% block content %}
<h2>Import</h2>
<p>Select and import an Object-Centric Eventlog from your local storage</p>

<form action="" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        <input id="file" type="file" name="log" class="form-control" onchange="javascript:updateList()" multiple/>
        <button type="submit" class="btn btn-primary">Import Log</button>
    </div>
    <label class="form-label"><p class="text-{{ response_label.0 }}">{{ response_label.1 }}</p></label>
</form>

{% comment %} Button leads to Clustering DFG page. {% endcomment %}
<form method="get" action="/draw">
    <button class="btn btn-primary" type="submit">Clustering DFG page</button>
</form>

{% comment %} List of uploaded files. {% endcomment %}
<br/>Uploaded files:
<div id="fileList"></div> 



<script>
    {% comment %} Fuction for showing uploaded files. {% endcomment %}
    updateList = function() {
        var input = document.getElementById('file');
        var output = document.getElementById('fileList');

        output.innerHTML = '<ul>';
        for (var i = 0; i < input.files.length; ++i) {
            output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML += '</ul>'; 
    }
</script>
{% endblock %}

</body>
</html>
