{% extends "base.html" %}
{% load static %}

{% block title %}
<title>CIOCEL | Import</title>
{% endblock %}

{% block content %}
<h2>Import</h2>
<p>Select and import an Object-Centric Eventlog from your local storage</p>

<form action="" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group">
        <input id="file" type="file" name="upload_log" class="form-control" multiple/>
        <button type="submit" class="btn btn-primary" id="importButton">Import Log</button>
    </div>
    <p>
        <span id="validateSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="visibility: hidden;"></span>
        <span id="validateSpinnerLabel" class="sr-only"> </span>
    </p>
    <!--Alert Upload-->
    {% if upload_response_label %}
    <div class="alert alert-{{ upload_response_label.0 }} alert-dismissible fade show" role="alert">
        <i class="bi bi-{{ upload_response_label.2 }}"></i> {{ upload_response_label.1 }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</form>

<form action="" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <select name="delete_log" class="form-select" size="10" multiple> 
            {% for file in file_list %}
            <option value="{{ file }} ">{{ file }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i></button>
    </div>
    <p></p>
    <!--Alert Delete-->
    {% if delete_response_label %}
    <div class="alert alert-{{ delete_response_label.0 }} alert-dismissible fade show" role="alert">
        <i class="bi bi-{{ delete_response_label.2 }}"></i> {{ delete_response_label.1 }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</form>

<a class="btn btn-primary" href="{% url 'draw' %}" role="button">Clustering DFG page</a>

<!-- JS for Loading animations -->
<script>
    document.getElementById("importButton").onclick = function(){
        document.getElementById("validateSpinner").style.visibility = "visible";
        document.getElementById("validateSpinnerLabel").textContent="Validating";
    }
</script>

{% endblock %}
