{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIOCEL | Draw</title>

        <style type="text/css">

        </style>
    </head>
    <body>
        <h1>Settings</h1>

        <div class="table">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Selected file:</td>
                        <td>{{ file_name }}</td>
                    </tr>
                    <tr>
                        <td>Selected object type:</td>
                        <td>{{ object_type }}</td>
                    </tr>
                    <tr>
                        <td>Selected attributes:</td>
                        <td>{% for attr in attributes %} {{ attr }}, {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Minactivity:</td>
                        <td>{{ minactivity }}</td>
                    </tr>
                    <tr>
                        <td>Minedge:</td>
                        <td>{{ minedge }}</td>
                    </tr>
                    <tr>
                        <td>Clustering method:</td>
                        <td>{{ clustering_method }}</td>
                    </tr>
                    <tr>
                        <td>Event assignment:</td>
                        <td>{{ event_assignment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if summary %}
        <h1>Log Properties</h1>
        <!-- Summary Badges -->
        <table class="table">
            {% for key, value in summary.items %} 
                {% if forloop.counter0 < 3 %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        <h1>DFGs</h1>
        {% for i in log %}
        <p>
            {% if i.nodes != 0 %}
                {% if forloop.first %}
                <table class="table">
                    <tr>
                        <td><h3>Unclustered</h3></td>
                        <td align="right">Nodes: {{ i.nodes }} | Edges: {{ i.edges }}</td>
                    </tr>
                </table>
                <img src="http://127.0.0.1:8000/media{{ i.image }}" alt="{{ i }}">
                {% else %}
                <table class="table">
                    <tr>
                        <td><h3>Cluster {{ forloop.counter0 }}</h3></td>
                        <td align="right">Nodes: {{ i.nodes }} | Edges: {{ i.edges }}</td>
                    </tr>
                </table>
                <img src="http://127.0.0.1:8000/media{{ i.image }}" alt="{{ i }}">
                {% endif %}
            {% endif %}
        </p><br>
        {% endfor %}
    </body>   
</html>
