{% extends "base.html" %}

<html>
<head>
    <title>Clustering in Object Centric Event Logs</title>
</head>

<body>

{% block content %}
<h2>This is the Drawpage</h2>
<p>Please select everything and press "Draw"</p>

<div class="row g-3">
    <!--Choose OCEL File Form-->
    <form action="" id="file_select_form" method="post">
        {% csrf_token %}
        <label class="form-label">Select OCEL</label>
        <div class="input-group">
            <select class="form-select" name="file_select" form="file_select_form">
                <option selected>{{ file_list.0 }}</option>
                {% for f in file_list %}
                    {% if not f == file_list.0 %}
                <option value="{{f}}">{{f}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Select</button>
        </div>
    </form>

    <!--Select object type-->
    <form action="" id="object_type_select_form" method="post">
        {% csrf_token %}
        <label class="form-label">Select object type</label>
        <div class="input-group">
            <select class="form-select" name="object_type_select" form="object_type_select_form">
                <option selected>{{ object_type_list.0 }}</option>
                {% for o in object_type_list %}
                    {% if not o == object_type_list.0 %}
                <option value="{{o}}">{{o}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Select</button>
        </div>
    </form>

    <!--Select clustering Method and object-->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col">
                <label class="form-label">Select Clustering method</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clustering_method_select" value="kmeans" {{ clustering_method.0 }}>
                    <label class="form-check-label">
                    K-Means
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clustering_method_select" value="hierarchical" {{ clustering_method.1 }}>
                    <label class="form-check-label">
                    Hierarchical
                    </label>
                </div>
            </div>
            <div class="col">
                <label class="form-label">Select Event assignment</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="event_assignment_select" value="all" {{ event_assignment.0 }}>
                    <label class="form-check-label">
                        All
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="event_assignment_select" value="existence" {{ event_assignment.1 }}>
                    <label class="form-check-label">
                        Existence
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Draw</button>
        </div>
    </form>

    <!--Select filtering-->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col">
                <label class="form-label">Select minimum number of activity frequency</label>
                <div class="form-check">
                    <input class="form-check-input" type="number" name="min_activity_select">
                    <label class="form-check-label">
                    Minimum activity frequency
                    </label>
                </div>
            </div>
            <div class="col">
                <label class="form-label">Select minimum number of edge frequency</label>
                <div class="form-check">
                    <input class="form-check-input" type="number" name="min_activity_select">
                    <label class="form-check-label">
                        Minimum edge frequency
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Draw</button>
        </div>
    </form>
    
    <!--Draw DFG Clusters-->
    <div class="container">
        {% for i in dfg_file_path_list %}
        <div class="card border-secondary">
            <div class="card-body">
                <img src="{{ i }}" class="img-fluid" alt="{{ i }}">
            </div>
            <div class="card-footer text-white bg-secondary">
                <div class="row">
                    <div class="col card-text">
                        {{ i }}
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-light text-end" href="{{ i }}" role="button"><i class="bi bi-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
</div>

<!--<img id="theImage" class="img-responsive col-12" src="yourImage.png" style="visibility: hidden;">
<script>
    document.getElementById("showImage").onclick = function(){
        document.getElementById("theImage").style.visibility = "visible";
    }
</script>-->

{% endblock %}

</body>
</html>
