{% extends "base.html" %}

<html>
<head>
    <title>Clustering in Object Centric Event Logs</title>
</head>

<body>

{% block content %}
<h2>This is the Drawpage</h2>
<p>Please select everything and press "Draw"</p>

<div class="row g-3">
    <!--Choose OCEL File Form-->
    <form action="" id="file_select_form" method="post">
        {% csrf_token %}
        <label class="form-label">Select OCEL</label>
        <div class="input-group">
            <select class="form-select" name="file_select" form="file_select_form">
                <option selected>{{ file_list.0 }}</option>
                {% for f in file_list %}
                    {% if not f == file_list.0 %}
                <option value="{{f}}">{{f}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Select</button>
        </div>
    </form>

    <!--Select object type-->
    <form action="" id="object_type_select_form" method="post">
        {% csrf_token %}
        <label class="form-label">Select object type</label>
        <div class="input-group">
            <select class="form-select" name="object_type_select" form="object_type_select_form">
                <option selected>{{ object_type_list.0 }}</option>
                {% for o in object_type_list %}
                    {% if not o == object_type_list.0 %}
                <option value="{{o}}">{{o}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Select</button>
        </div>
    </form>

    <!--Select clustering Method and object-->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div>
                <label class="form-label">Select Clustering method</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clustering_method_select" value="kmeans" {{ clustering_method.0 }}>
                    <label class="form-check-label" for="flexRadioDefault1">
                    K-Means
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clustering_method_select" value="hierarchical" {{ clustering_method.1 }}>
                    <label class="form-check-label" for="flexRadioDefault2">
                    Hierarchical
                    </label>
                </div>
            </div>
            <div class="input-group">
                <select class="form-select" name="object_select">
                    <option selected>{{ object_list.0 }}</option>
                    {% for o in object_list %}
                        {% if not o == object_list.0 %}
                    <option value="{{o}}">{{o}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Draw</button>
                <button id="showImage" class="btn col-12 btn-outline-secondary" type="button">Draw</button>
            </div>
        </div>
    </form>
    <img id="theImage" class="img-responsive col-12" src="yourImage.png" style="visibility: hidden;">
</div>

<script>
    document.getElementById("showImage").onclick = function(){
        document.getElementById("theImage").style.visibility = "visible";
    }
</script>
{% endblock %}

</body>
</html>
